@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(../font/DroidKufi-Bold.eot);
  src: url(../font/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
    /*  url(../font/DroidKufi-Bold.woff2) format('woff2'), */
      url(../font/DroidKufi-Bold.woff) format('woff'),
      url(../font/DroidKufi-Bold.ttf) format('truetype');
}


body {
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
.Dialogon {

    background-color: #FFFFFF;
    margin: 10px auto;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
    position: absolute;


}
    #canvas {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .checkbox label {
        margin-right: 10px;
    }

    form {
        margin-bottom: 0px;
    }

 /*     .btn-play, .btn-settings, .btn-spectate {
        display: block;
        height: 35px;
    }

  .btn-play {
        width: 85%;
        float: left;
    }

    .btn-settings {
        width: 13%;
        float: right;
    }

    .btn-spectate {
        display: block;
        float: right;
    }        */

    #adsBottom {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #adsBottomInner {
        margin: 0px auto;
        width: 728px;
        height: 90px;
        border: 5px solid white;
        border-radius: 5px 5px 0px 0px;
        background-color: #FFFFFF;
        box-sizing: content-box;
    }

    .region-message {
        display: none;
        margin-bottom: 12px;
        margin-left: 6px;
        margin-right: 6px;
        text-align: center;
    }


    #helloDialog {

        background-color: #FFFFFF;
        margin: 10px auto;
        border-radius: 15px;
        padding: 5px 15px 5px 15px;
        min-width: 330px; 
    }

    #chat_textbox {
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        position: absolute;
        z-index: 1;
        bottom: 10px;
        background: rgba(0, 0, 0, .2);
        border: 0px;
        outline: none;
        color: #FFF;
        height: 30px;
        text-indent: 12px;
        left: 10px;
        width: 300px;
    }

    #chat_textbox:focus {
        background: rgba(0, 0, 0, .5);
    }

